[auth]
#redirect_uri = "<app-url>/oauth2callback"
redirect_uri = "http://localhost:8501/oauth2callback" # for local deployment
cookie_secret = "abcd1234" # random cookie secret, not important
client_id = "<google auth platform ID"
client_secret = "google auth platform secret"
server_metadata_url = "https://accounts.google.com/.well-known/openid-configuration"